.advantages {

    &__list {
    display: flex;
    gap: var(--typical-gap);
    }
    &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
    }
    &__text{
    line-height: 1.71;
    margin-top: 10px;
    margin-bottom: 0;
    }
    &__icon-block {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-background-color);
    border-radius: 4px;
    }
}

